.animate-bar {
  -moz-animation: slide 2s infinite linear;
  -o-animation: slide 2s infinite linear;
  -webkit-animation: slide 2s infinite linear;
  animation: slide 2s infinite linear;
  display: block;
  position: relative;
}
@-moz-keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
@-ms-keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
@keyframes slide {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
