
.icon-spin3:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-user-1:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */