
.icon-lock:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-arrows-cw:before { content: '\e803'; } /* '' */
.icon-user-1:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */